#wall .tag-1 {
    display: none;
}

#tag-2 {
    display: none;
    visibility: hidden;
}

#tag-3.slick {
    visibility: hidden;
}

#tag-4 {
    display: none;
    visibility: visible;
}

#tag-5 {
    display: none;
    visibility: hidden;
}

#tag-6 {
    display: none;
    visibility: hidden;
}

#tag-7 {
    display: none;
    visibility: hidden;
}
.parent {
    display: none;
}

