
#wall .tag-1 {
    display: none;
    visibility: inherit;
}

#tag-2 {
    display: none;
    visibility: hidden;

}

#tag-3 {
    display: none;
    visibility: hidden;
}

#tag-4 {
    display: none;
    visibility: hidden;
}

#tag-5 {
    display: none;
    visibility: hidden;
}

#tag-6 {
    display: none;
    visibility: hidden;
}

#tag-7 {
    display: none;
    visibility: inherit;
}

.parent {
   display: none;
   visibility: hidden;
{



    